
.img{
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/555/695/non_2x/abstract-yellow-cyber-grey-metallic-geometric-on-dark-grey-black-hexagon-mesh-design-modern-technology-futuristic-background-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
}